/* Restablece márgenes, rellenos y utiliza el modelo de caja border-box para todos los elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvertica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    text-transform: uppercase;
}

.Menu{
    text-align: center;
    margin-top: 15em;
    
}

ul.MenuNav li{
    list-style: none;
    padding: 1px;
    padding-inline: 20px;
    margin-left:30px;
    display: inline;
    padding-right: 1em;
    width: 100;
    border: 1px solid #000;
}

.ManuNav li:hover {
    background-color: blue;
}